<div class="shadow white-bg">
    <div class="hero">
        <div class="block-first">
            <h1>I'm a Junior developer </h1>
            <h3>Learning Java Script, ReactJS, MongoDB, NodeJS, ExpressJS, HTML5, CSS3 Git and Github. </h3>
            <h3>I build dynamic Python apps, Flask, HTML and CSS. </h3>
            <a href='#contact' class="btn shadow">Contact</a>
        </div>
        <div class="right">
            <img class="photo_my" src="{{ url_for('static', filename='scout.jpg') }}" />
        </div>
    </div>
</div>